@model Room

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-lg-12">
        <form method="post" enctype="multipart/form-data" id="create-product">
            <div class="form-group">
                @Html.LabelFor(m => m.RoomNo)
                @Html.TextBoxFor(m => m.RoomNo, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RoomNo, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DailyPrice)
                @Html.TextBoxFor(m => m.DailyPrice, null, new { @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(m => m.DailyPrice, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ChildCapacity)
                @Html.TextBoxFor(m => m.ChildCapacity, null, new { @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(m => m.ChildCapacity, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonCapacity)
                @Html.TextBoxFor(m => m.PersonCapacity, null, new { @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(m => m.PersonCapacity, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.  BedTypeId)
                @Html.DropDownListFor(m => m.BedTypeId, new SelectList(ViewBag.BedTypes, "Id", "Type"), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BedTypeId, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.File)
                @Html.TextBoxFor(m => m.File, null, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(m => m.File, "", new { @class = "text-danger" })

            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Desc)
                @Html.TextAreaFor(m => m.Desc, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Desc, "", new { @class = "text-danger" })

            </div>

            <button type="submit" class="btn btn-primary">Elave Et</button>





        </form>

    </div>
</div>

